#button-a {
  background-color: #46139f;
}

#contacts-modal {
  .modal-body .list-group {
    height: 500px;
    max-height: 500px;
    overflow-y: auto;
  }
  .modal-footer {
    justify-content: space-between;
  }
}

#button-b {
  background-color: #ff7f50;
}

#button-c {
  border-color: #46139f;
  background-color: white;
  color: black;
}

#close-button {
  border-color: #46139f;
  background-color: white;
  color: #46139f;
}
